body{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 2rem;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    gap:1rem;
    background-image: linear-gradient(to right, rgb(12, 12, 14), blue, #fff);
}

.input{
    text-align: center;
}

.final-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.class2{
    color:brown;
    font-size: 1.7rem;
}

.assume{
    font-size: 1.3rem;
}

.Velocity{
    text-align: center;
    
}

input{
    font-size: 1.2rem;
    width: 6rem;
}

@media (width<=400px) {
    *{
 font-size: 13px;
    }
}